---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Simple API Test"
	description="API Status"
	pubDate={new Date('February 22, 2026')}
	heroImage="/Pegasus-Technology-Solutions-logo.png"
>

<button onclick="callApi()">Call API</button>

<p id="result">Waiting for API call...</p>

<script>
document.getElementById("result").textContent = "Script set result";
function callApi() {
	alert("clicked");
	document.getElementById("result").textContent = "Function set result clicked";
    

}
</script>
</Layout>

